<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="container-horizontal-separator"></div>
        <div class="container-horizontal-separator"></div>
        <div class="container-horizontal-separator"></div>
        <div class="container-horizontal-separator"></div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="http://stock-market:8080/nse" style="color:#ffffff;"
               target="_blank">NSE</a>
            <img class="left-container-external-link-icon" src="/sm-admin/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="http://stock-market:8080/bse" style="color:#ffffff;"
               target="_blank">BSE</a>
            <img class="left-container-external-link-icon" src="/sm-admin/images/icons/external-link-icon.png">
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">
       NSE Quartz Items
    </div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/sm-admin/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/sm-admin/nse/triggers"
               th:style="${webpage != null && webpage.triggersListingLink ? 'font-weight:bold' : ''}">NSE Triggers</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/sm-admin/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/sm-admin/nse/jobs"
               th:style="${webpage != null && webpage.jobsListingLink ? 'font-weight:bold' : ''}">NSE Jobs</a>
        </div>
    </div>
</div>