<div th:each="stock : ${webpage.nsePriceSpurtDetailModels}" th:id="${'history-div-' + stock.stockDivId}" class="popup-container-div" >
    <div style="width:99.7%;height:10%;border:2px solid white;border-radius:5px;background: #353839;">
        <div style="width:5%;height:94%;border:2px solid #353839;float:left;background-color: #353839;border-radius:5px;">
            <img src="images/icons/history-icon.png" style="width:100%;height:100%;border-radius:5px;cursor: pointer;"/>
        </div>
        <div style="width:5%;height:94%;border:2px solid #353839;float:left;background-color: #353839;border-radius:5px;">
            <img src="images/icons/trading-icon.png" style="width:100%;height:100%;border-radius:5px;cursor: pointer;"/>
        </div>
        <div style="width:89%;height:94%;float:left;" th:class="popup-title-div + ' ' + ${stock.foregroundCss}" th:text="${stock.symbol}" th:attr="onclick=|closePopUp('${stock.stockDivId}')|"></div>
    </div>
    <div class="popup-body-div">
        <div class="moo-popup-right-container-div">
            <div th:id="${stock.stockDivId + '-moo'}" class="popup-right-container-item-div" style="display:block;" >
                <div th:replace="~{fragments/common/popup/market-on-open/moo_history :: history(stock)}"></div>
            </div>
        </div>
    </div>
</div>

<script lang="javascript">

    var showPopUp = function(id){
        var popUpDiv = document.getElementById('history-div-'+id);
        popUpDiv.style = 'display:block';
    }

    var closePopUp = function(id){
        var popUpDiv = document.getElementById('history-div-'+id);
        popUpDiv.style = 'display:none';
    }

    /*var showPopUpAndDetail = function(id, detail){
        showPopUp(id);
        if("pb" == detail){
            var innerPopupId = id + "-pb";
            showInnerPopUp(innerPopupId, id);
        }
        if("atr" == detail){
            var innerPopupId = id + "-atr";
            showInnerPopUp(innerPopupId, id);
        }
        if("sma" == detail){
            var innerPopupId = id + "-sma";
            showInnerPopUp(innerPopupId, id);
        }
    }

    var showInnerPopUp = function(innerPopUpId, id){
        var innerPopupElement = document.getElementById(innerPopUpId);

        var pbDivElement = document.getElementById(id + "-pb");
        var atrDivElement = document.getElementById(id + "-atr");
        var smaDivElement = document.getElementById(id + "-sma");

        if(innerPopUpId == (id + "-pb")){
            atrDivElement.style = "display:none";
            smaDivElement.style = "display:none";
        }
        if(innerPopUpId == (id + "-atr")){
            pbDivElement.style = "display:none";
            smaDivElement.style = "display:none";
        }
        if(innerPopUpId == (id + "-sma")){
            pbDivElement.style = "display:none";
            atrDivElement.style = "display:none";
        }

        innerPopupElement.style = "display:block";
    }*/

</script>