<div class="trade-popup-container-stock-div" th:fragment="stopLoss(${stock})" >
    <div class="trade-popup-container-stock-header-div" th:text="${percentagePriceRange.percentage + ' %'}"></div>
    <div class="trade-popup-container-stock-body-div">
        <table>
            <tbody>
            <tr>
                <td class="trade-popup-container-stock-td-left">Pre Close</td>
                <td class="trade-popup-container-stock-td-right" th:text="${stock.previousClose}"></td>
            </tr>
            <tr>
                <td class="trade-popup-container-stock-td-left">Current Price</td>
                <td class="trade-popup-container-stock-td-right" th:text="${stock.indicativeEquilibriumPrice}"></td>
            </tr>
            <tr>
                <td class="trade-popup-container-stock-td-left">% Change</td>
                <td class="trade-popup-container-stock-td-right" th:text="${stock.pricePercentageChange}"></td>
            </tr>
            <tr>
                <td class="trade-popup-container-stock-td-left bg-green">Upper Range</td>
                <td class="trade-popup-container-stock-td-right bg-green" th:text="${percentagePriceRange.upperPriceRange}"></td>
            </tr>
            <tr>
                <td class="trade-popup-container-stock-td-left bg-green">Lower Range</td>
                <td class="trade-popup-container-stock-td-right bg-green" th:text="${percentagePriceRange.lowerPriceRange}"></td>
            </tr>
            <tr>
                <td class="trade-popup-container-stock-td-left bg-green">Stop Loss</td>
                <td class="trade-popup-container-stock-td-right bg-green" th:text="${percentagePriceRange.stopLoss}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>