<div class="right-container">
    <div th:replace="~{fragments/common/stock_group_tip_container}"></div>
    <div class="right-container-stock-listing-container right-container-stock-listing-container-nse-ext">
        <div class="right-container-company-frame-div-0 right-container-company-frame-div-0" th:each="stock : ${webpage.nsePreOpenMarketModels}">
            <div class="right-container-company-div">
                <div class="right-container-company-title-container">
                    <div class="right-container-company-title-div" th:text="${stock.symbol}" th:attr="onclick=|showPopUp('${stock.stockDivId}')|"></div>
                    <div class="right-container-company-stock-market-chart-div-green" th:attr="onclick=|showPopUp('${stock.stockDivId}')|">
                        5%
                    </div>
                </div>
                <div>
                    <div th:id="${stock.stockDivId}" class="right-container-company-table-div">
                        <table>
                            <tbody>
                            <tr>
                                <td class="td-left td-left-nse-ext">Business Date</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.businessDateAsString}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">Previous Cls</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.previousClose}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">IndEquiPrice</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.indicativeEquilibriumPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">Price Change</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.priceChange}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">Price % Chg</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.pricePercentageChange}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">Final Price</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.finalPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">52 Week High</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.newMarket52WeekHigh}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-nse-ext">52 Week Low</td>
                                <td class="td-right td-right-nse-ext" th:text="${stock.newMarket52WeekLow}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right-container-company-trading-stats-div">
                    Trading Statistics
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/common/popup/window}"></div>
</div>