<div class="right-container">
    <div class="right-container-stock-listing-container">
        <div class="right-container-company-frame-div-0 right-container-company-frame-div-0-admin-ext" th:each="trigger : ${webpage.triggerDetailModels}">
            <div class="right-container-company-div">
                <div class="right-container-company-title-container">
                    <div class="right-container-company-title-div" th:text="${trigger.name}"></div>
                </div>
                <div>
                    <div th:id="${trigger.id}" class="right-container-company-table-div">
                        <table>
                            <tbody>
                            <tr>
                                <td class="td-left td-left-admin-ext">Group</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.group}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Job Name</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.jobName}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Job Group</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.jobGroup}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Prev Fire Time</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.previousFireTime}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Next Fire Time</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.nextFireTime}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Priority</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.priority}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Trigger State</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.triggerState}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Trigger Type</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.triggerType}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">Start Time</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.startTime}"></td>
                            </tr>
                            <tr>
                                <td class="td-left td-left-admin-ext">End Time</td>
                                <td class="td-left td-right-admin-ext" th:text="${trigger.endTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right-container-company-trading-stats-div">
                    Controls...
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>
  // Refresh page after 1 minute (1 × 60 × 1000 ms)
  setTimeout(function() {
    location.reload();
  }, 1 * 60 * 1000);
</script>-->
