<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="/bse" style="color:#ffffff;"
               target="_blank">BSE</a>
            <img class="left-container-external-link-icon" src="/sm-static-hub/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="/sm-admin" style="color:#ffffff;"
               target="_blank">Administration
                Site</a>
            <img class="left-container-external-link-icon" src="/sm-static-hub/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="https://kite.zerodha.com" style="color:#ffffff;"
               target="_blank">Kite Zerodha</a>
            <img class="left-container-external-link-icon" src="/sm-static-hub/images/icons/external-link-icon.png">
        </div>
    </div>

    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Pre Open Market</div>
    <div class="container-horizontal-separator"></div>
    
    <div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/pre-open-market/nifty-50"
                   th:style="${webpage != null && webpage.preOpenMarketNifty50 ? 'font-weight:bold' : ''}">NIfty 50</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/pre-open-market/bank-nifty"
                   th:style="${webpage != null && webpage.preOpenMarketBankNifty ? 'font-weight:bold' : ''}">Bank Nifty</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/pre-open-market/sme"
                   th:style="${webpage != null && webpage.preOpenMarketSME ? 'font-weight:bold' : ''}">SME</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/pre-open-market/fo"
                   th:style="${webpage != null && webpage.preOpenMarketFO ? 'font-weight:bold' : ''}">FO</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/pre-open-market/others"
                   th:style="${webpage != null && webpage.preOpenMarketOthers ? 'font-weight:bold' : ''}">Others</a>
            </div>
        </div>
    </div>

    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">
        <a href="/nse/nifty" style="color:white;">NIFTY</a>
    </div>
    <div class="container-horizontal-separator"></div>

    <div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/price-spurts"
                   th:style="${webpage != null && webpage.priceSpurt ? 'font-weight:bold' : ''}">Price Spurts</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/volume-spurts"
                   th:style="${webpage != null && webpage.volumeSpurt ? 'font-weight:bold' : ''}">Volume Spurts</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/sme"
                   th:style="${webpage != null && webpage.sme ? 'font-weight:bold' : ''}">SME</a>
            </div>
        </div>
    </div>

    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Top 20</div>
    <div class="container-horizontal-separator"></div>

    <div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/security-lwr-20"
                   th:style="${webpage != null && webpage.securityLessThan20 ? 'font-weight:bold' : ''}">Security < 20</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/security-gtr-20"
                   th:style="${webpage != null && webpage.securityGreaterThan20 ? 'font-weight:bold' : ''}">Security > 20</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/nifty-fifty"
                   th:style="${webpage != null && webpage.niftyFifty ? 'font-weight:bold' : ''}">Nifty Fifty</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/nifty-next-fifty"
                   th:style="${webpage != null && webpage.niftyNextFifty ? 'font-weight:bold' : ''}">Nifty Next Fifty</a>
            </div>

        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/fo-security"
                   th:style="${webpage != null && webpage.FOSecurity ? 'font-weight:bold' : ''}">FO Security</a>
            </div>
        </div>
        <div class="left-container-application-link-div">
            <div class="left-container-application-link-arrow-div">
                <i class="arrow right"></i>
                <a class="left-container-application-link" href="/nse/top-20/bank-nifty"
                   th:style="${webpage != null && webpage.bankNifty ? 'font-weight:bold' : ''}">Bank Nifty</a>
            </div>
        </div>
    </div>
</div>