<div class="right-container">
    <div th:replace="~{fragments/common/stock_group_tip_container}"></div>
    <div class="right-container-stock-listing-container">
        <div class="right-container-company-frame-div-0 ps-right-container-company-frame-div-0" th:each="stock : ${webpage.nsePriceSpurtDetailModels}">
            <div class="right-container-company-div">
                <div  class="right-container-company-title-container">
                    <div th:class="'right-container-company-title-div ps-right-container-company-title-div' + ' ' + ${stock.foregroundCss}" th:text="${stock.title}" th:attr="onclick=|showPopUp('${stock.stockDivId}')|"></div>
                </div>
                <div>
                    <div th:id="${stock.stockDivId}" class="right-container-company-table-div">
                        <table>
                            <tbody>
                            <tr>
                                <td class="td-left">Open Price</td>
                                <td class="td-right" th:text="${stock.openPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">High Price</td>
                                <td class="td-right" th:text="${stock.highPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">Low Price</td>
                                <td class="td-right" th:text="${stock.lowPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">LTP</td>
                                <td class="td-right" th:text="${stock.lastTradedPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">Prev Close</td>
                                <td class="td-right" th:text="${stock.previousClosePrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">% Change</td>
                                <td class="td-right" th:text="${stock.percentageChange}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">Shares(Vol)</td>
                                <td class="td-right" th:text="${stock.volume}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ps-right-container-company-meter-div">
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/popup/price-spurts/price_spurts_window}"></div>
</div>