<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="http://stock-market:8080/bse" style="color:#ffffff;"
               target="_blank">NSE</a>
            <img class="left-container-external-link-icon" src="/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="http://stock-market:8080/admin" style="color:#ffffff;"
               target="_blank">BSE</a>
            <img class="left-container-external-link-icon" src="/images/icons/external-link-icon.png">
        </div>
    </div>
    <div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/admin/triggers"
               th:style="${webpage != null && webpage.triggersLink ? 'font-weight:bold' : ''}">Triggers</a>
        </div>
    </div>
</div>