/******************** application styles override ******************/
.right-container-company-title-div{
    width: 79.9%;
    cursor: pointer;
}

.right-container-company-stock-market-chart-div-green{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #2CFF05;
    color: #2CFF05;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 10px;
    font-size:14px;
}

.right-container-company-stock-market-chart-div-red{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #f71302;
    color: #f71302;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 10px;
    font-size:14px;
}

.right-container-stock-listing-container {
    padding-left: 0%
}

.right-container-company-frame-div-0 {
    width: 13.7%;
    height: 34.8%;
}

.right-container-company-frame-div-0-ps {
    height: 30%;
}

.ps-right-container-company-frame-div-0 {
    height: 36.5%;
}

.right-container-company-title-div {
    width: 79.9%;
    display: grid;
    place-items: center;
    padding-top: 0px;
}

.ps-right-container-company-title-div {
    width: 100%;
}

.right-container-company-trading-stats-div {
    width: 100%;
    height: 15%;
    background: #353839;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps-right-container-company-meter-div {
    width: 100%;
    height: 15%;
    background: #353839;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.right-container-company-trading-stats-div-item {
    width: 18%;
    height: 70%;
    border: 2px solid white;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.left-container-application-link-arrow-div {
    float:right;
    width:99.5%;
    height:99.8%
}

.td-left {
    width: 50%;
}

.ps-td-left {
    border: 1px;
}

.td-right {
    width: 40%;
}

.ps-td-right {
    border: 1px;
}

/******************** arrow and checks styles ******************/
.arrow {
  border:solid #353839;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 4%;
  margin-left: 5%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.green {
    border:solid #2cff05;
    border-width: 0 3px 3px 0;
}

.red {
    border:solid #f71302;
    border-width: 0 3px 3px 0;
}

.check {
   height: 14px;
   width: 8px;
   border-bottom: 4px solid #2cff05;
   border-right: 4px solid #2cff05;
   transform: rotate(45deg);
   display: grid;
   place-items:center;
}

.red-cross{
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.red-cross::before,
.red-cross::after{
    content: '';
    position: absolute;
    background-color:#f71302;
}

.red-cross::before{
    width: 20%;
    height:100%;
    left:40%;
}

.red-cross::after{
    width: 100%;
    height: 20%;
    top:40%;
}

/******************** Popup styles ******************/
.popup-container-div{
    border:5px solid #353839;
    width: 80%;
    height: 80.8%;
    border-radius: 10px;
    display:none;
    position: absolute; /* or relative / fixed */
    top: 135px;
    left: 306px;
    background-color: white;
}

.popup-title-div{
    border: 0px solid white;
    border-radius: 5px;
    width:99.8%;
    height:10%;
    background-color: #353839;
    display: grid;
    place-items:center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.popup-left-container-div{
    border: 0px solid #353839;
    width:6%;
    height:90%;
    background-color: #353839;
    float:left;
}

.popup-left-container-item-div{
    border: 2px solid white;
    width:85%;
    height:9%;
    border-radius: 10px;
    margin-bottom: 8px;
    display: grid;
    place-items:center;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.popup-right-container-div{
    float: left;
    border: 0px solid red;
    width: 93.7%;
    height: 89.2%;
    background-color: white;
    overflow: auto;
}

.ps-popup-right-container-div{
    float: left;
    border: 0px solid red;
    width: 99.7%;
    height: 89.2%;
    background-color: white;
    overflow: auto;
}

.popup-right-container-item-div{
    border: 0px solid red;
    width: 99.9%;
    height: 99.9%;
    display: none;
    background-color: white;
}

/******************** stock popup styles ******************/

.trade-popup-container-stock-div{
    width: 15.5%;
    height: 36%;
    border: 1px solid #353839;
    border-radius: 5px;
    float: left;
    margin: 0.5%;
}

.trade-popup-container-stock-header-div{
    width: 99.9%;
    height: 20%;
    color: white;
    background-color:#353839;
    border-radius: 5px;
    font-weight: bold;
    float:left;
}

.trade-popup-container-stock-header-left-div{
    width: 15%;
    height: 99.9%;
    background-color:#353839;
    place-items: center;
    border: 0 solid green;
    float: left;
    /* following properties are to center a html element inside an other...*/
    display: flex;
    justify-content: center;
    align-items: center
    /**/
}

.trade-popup-container-stock-header-middle-div{
    width: 67%;
    height: 99.9%;
    color: white;
    background-color:#353839;
    font-weight: bold;
    display: grid;
    place-items: center;
    border: 0px solid red;
    float: left;
}

.trade-popup-container-stock-header-right-div{
    width: 15%;
    height: 99.9%;
    background-color:#353839;
    display: grid;
    place-items: center;
    border: 0px solid cyan;
    float: left;
}

.trade-popup-container-stock-body-div{
    width: 99.9%;
    height: 79.9%;
}

.trade-popup-container-stock-td{
    width: 50%;
    font-size: 15px;
    text-indent: 3px;
    color:black;
}

.trade-popup-container-stock-td-left{
    width: 50%;
    font-size: 15px;
    text-indent: 3px;
    color:black;
}

.trade-popup-container-stock-td-right{
    width: 50%;
    text-indent: 5px;
    font-size: 15px;
    color:black;
}

.yellow-bg {
    background-color:yellow;
}

.white-fg {
    color: white;
}

.green-bg {
    background-color: #2CFF05;
}

.green-fg {
    color: #2CFF05;
}

.red-bg {
    background-color: #FF878D;
}

.red-fg {
    color: #FF878D;
}





