/******************** application styles override ******************/
.right-container-company-title-div{
    width: 79.9%;
    cursor: pointer;
}

.right-container-company-stock-market-chart-div-green{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #2CFF05;
    color: #2CFF05;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 22px;
}

.right-container-company-stock-market-chart-div-red{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #FB6188;
    color: #FB6188;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 22px;
}

.right-container-stock-listing-container {
    padding-left: 0%
}

.right-container-company-frame-div-0 {
    width: 13.5%;
    height: 34.8%;
}

.right-container-company-frame-div-0-ps {
    height: 30%;
}

.right-container-company-title-div {
    width: 79.9%;
    display: grid;
    place-items: center;
    padding-top: 0px;
}

.right-container-company-trading-stats-div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 15%;
    background: #353839;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}


.left-container-application-link-arrow-div {
    float:right;
    width:99.5%;
    height:99.8%
}

.td-left {
    width: 50%;
}

.td-right {
    width: 40%;
}

/******************** arrow styles ******************/
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 4%;
  margin-left: 5%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/******************** Popup styles ******************/
.popup-container-div{
    border:5px solid #353839;
    width: 1000px;
    height:600px;
    border-radius: 10px;
    display:none;
    position: absolute; /* or relative / fixed */
    top: 190px;
    left: 550px;
    background-color: white;
}

.popup-title-div{
    border: 0px solid #353839;
    width:100%; height:10%;
    background-color: #353839;
    display: grid;
    place-items:center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.popup-left-container-div{
    border: 0px solid #353839;
    width:6%;
    height:90%;
    background-color: #353839;
    float:left;
}

.popup-left-container-item-div{
    border: 2px solid white;
    width:85%;
    height:9%;
    border-radius: 10px;
    margin-bottom: 8px;
    display: grid;
    place-items:center;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.popup-right-container-div{
    float:left;
    border:0px solid red;
    width: 93.7%;
    height: 89.2%;
    background-color: white;
}

.popup-right-container-item-div{
    border: 0px solid red;
    width: 99.9%;
    height: 99.9%;
    display: none;
    background-color: white;
}

/******************** stock popup styles ******************/

.trade-popup-container-stock-div{
    width: 22%;
    height: 48%;
    border: 1px solid #353839;
    border-radius: 5px;
    float: left;
    margin: 0.5%;
}

.trade-popup-container-stock-header-div{
    width: 99.9%;
    height: 20%;
    color: white;
    background-color:#353839;
    border-radius: 5px;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.trade-popup-container-stock-body-div{
    width: 99.9%;
    height: 79.9%;
}

.trade-popup-container-stock-td-left{
    width: 50%;
}

.trade-popup-container-stock-td-right{
    width: 50%;
    text-indent: 5px;
}




