.right-container-company-title-div{
    width: 79.9%;
}

.right-container-company-stock-market-chart-div-green{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #2CFF05;
    color: #2CFF05;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 22px;
}

.right-container-company-stock-market-chart-div-red{
    display: grid;
    place-items: center;
    background-color: #353839;
    border: 2px solid #FB6188;
    color: #FB6188;
    height: 85%;
    font-weight:bold;
    cursor:pointer;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 22px;
}

.right-container-stock-listing-container {
    padding-left: 0%
}

.right-container-company-frame-div-0 {
    width: 13.5%;
    height: 34.8%;
}

.right-container-company-frame-div-0-ps {
    height: 30%;
}

.right-container-company-title-div {
    width: 79.9%;
    display: grid;
    place-items: center;
    padding-top: 0px;
}

.right-container-company-trading-stats-div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 15%;
    background: #353839;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}


.left-container-application-link-arrow-div {
    float:right;
    width:99.5%;
    height:99.8%
}

.td-left {
    width: 50%;
}

.td-right {
    width: 40%;
}


/******************** arrow styles ******************/

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 4%;
  margin-left: 5%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/******************** arrow styles ******************/