.right-container-stock-listing-container-nse-ext {
    padding-left: 0%
}

.right-container-company-frame-div-0-nse-ext {
    width: 13.5%;
    height: 34.8%;
}

.right-container-company-frame-div-0-ps-nse-ext {
    height: 30%;
}

.td-left-nse-ext {
    width: 50%;
}

.td-right-nse-ext {
    width: 40%;
}
