<div class="right-container">
    <div th:replace="~{fragments/common/stock_group_tip_container}"></div>
    <div class="right-container-stock-listing-container">
        <div class="right-container-company-frame-div-0 right-container-company-frame-div-0-ps" th:each="stock : ${webpage.nseSMEDetailModels}">
            <div class="right-container-company-div">
                <div class="right-container-company-title-container">
                    <div class="right-container-company-title-div" th:text="${stock.symbol}"></div>
                    <div th:class="${stock.percentageChange >= 0 ? 'right-container-company-stock-market-chart-div-green' : 'right-container-company-stock-market-chart-div-red'}"  th:attr="onclick=|showPopUp('${stock.stockDivId}')|" th:text="${stock.percentageChange + '%'}"></div>
                </div>
                <!--width: 100%; height: 70%;-->
                <div>
                    <div th:id="${stock.stockDivId}" class="right-container-company-table-div">
                        <table>
                            <tbody>
                            <tr>
                                <td class="td-left">Open Price</td>
                                <td class="td-right" th:text="${stock.openPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">High Price</td>
                                <td class="td-right" th:text="${stock.highPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">Low Price</td>
                                <td class="td-right" th:text="${stock.lowPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">Prev Close</td>
                                <td class="td-right" th:text="${stock.previousClosePrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">LTP</td>
                                <td class="td-right" th:text="${stock.lastTradedPrice}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">% Change</td>
                                <td class="td-right" th:text="${stock.percentageChange}"></td>
                            </tr>
                            <!--<tr>
                                <td class="td-left">Shares(Vol)</td>
                                <td class="td-right" th:text="${stock.volumeInShares}"></td>
                            </tr>-->
                            <!--<tr>
                                <td class="td-left">Val in Lakhs</td>
                                <td class="td-right" th:text="${stock.valueInLakhs}"></td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <!--<div th:id="${stock.stockStatDivId}" class="right-container-company-table-div" style="height:0%; width:0%;">
                        this is the div
                    </div>-->
                </div>
                <div class="right-container-company-trading-stats-div">
                    Trading Statistics
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/common/popup/window}"></div>
</div>