<div class="right-container">
    <div th:replace="~{fragments/common/stock_group_tip_container}"></div>
    <div class="right-container-stock-listing-container">
        <div class="right-container-company-frame-div-0" th:each="stock : ${webpage.nseVolumeSpurtDetailModels}">
            <div class="right-container-company-div">
                <div class="right-container-company-title-container">
                    <div class="right-container-company-title-div" th:text="${stock.symbol}"></div>
                    <div class="right-container-company-stock-market-chart-div"></div>
                    <!--<div class="right-container-company-title-div" th:text="${stock.symbol}"></div>
                    <div class="right-container-company-stock-market-chart-div">
                        <img src="/sm-static-hub/images/icons/stock-market-chart.png" class="right-container-company-stock-market-chart-img"/>
                    </div>-->
                </div>
                <div>
                    <div th:id="${stock.stockDivId}" class="right-container-company-table-div">
                        <table>
                            <tbody>
                            <tr>
                                <td class="td-left">Volume</td>
                                <td class="td-right" th:text="${stock.volume}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">1Wk Avg Vol</td>
                                <td class="td-right" th:text="${stock.oneWeekAverageVolume}"></td>
                            </tr>
                            <tr>
                                <td class="td-left">No Of Times</td>
                                <td class="td-right" th:text="${stock.noOfTimes}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right-container-company-trading-stats-div">
                   <!-- Trading Statistics-->
                </div>
            </div>
        </div>
    </div>
</div>